```5
ID         MARKS      NAME       CLASS     
1          97         Raymond    7         
2          50         Steven     4         
3          91         Adrian     9         
4          72         Stewart    5         
5          80         Peter      6   ```


O/P

```78.00```

In [16]:
from collections import namedtuple
n = int(input())
Student = namedtuple('Student', input().strip())
print(sum(float(m.MARKS) for m in [Student(*input().strip().split()) for i in range(n)])/n)

2
ID         MARKS      NAME       CLASS
1          97         Raymond    7
2          50         Steven     4
73.5